.BannerApp {
  height: 550px;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 프로젝트가 하나도 없을 때 */
.emptycontent {
  margin-top: 30px;
  width: 343px;
  height: 343px;
  background-color: #fff;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.Bannerempty {
  display: flex;
}

.Bannerempty .notworkingicon {
  font-size: 20px;
  margin-top: 200px;
}

.Bannerempty .empty_left {
  padding-right: 200px;
}

.Bannerempty .empty_right {
  padding-left: 200px;
}

.Bannerempty .emptycontent {
  padding-top: 30px;
  padding-left: 20px;
}

.Bannerempty .emptycontent .emptytitle {
  margin-left: 60px;
  font-size: 23px;
  color: #808080;
  line-height: normal;
  font-weight: 700;
}

.Bannerempty .emptycontent .emptytitle .emptytitlelineone {
  margin-left: 30px;
}

.Bannerempty .emptycontent .emptyimg {
  margin-left: 60px;
  background-image: url("../../../../public/img/projectImg/noproject_img1.png");
  background-size: cover;
  width: 177px;
  height: 150px;
  margin-top: 10px;
}

.Bannerempty .emptycontent .emptysubtitle {
  margin-top: 10px;
  margin-left: 30px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.25);
}

/* 프로젝트가 존재할 때 */
/* 배너 제목, 소제목 */
.Bannertxt {
  text-align: center;
  padding-top: 20px;
}

.Bannertxt .Bannertitle {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.Bannertxt .Bannersubtitle {
  margin-top: 5px;
  font-size: 15px;
  color: #fff;
}

/* 컨텐츠 */

.swiper_container {
  /* width: 100%; */
  width: 800px;
  display: flex;
  justify-content: center;
  /* 수평 중앙 정렬 */
  align-items: center;
  /* 수직 중앙 정렬 */
}

.swiper-wrapper {

  /* 수직 중앙 정렬 */
}

.swiper-slide {
  display: flex;
  width: 100%;
  /* flex 컨테이너로 설정 */
  justify-content: center;
  /* 가로 가운데 정렬 */
  align-items: center;
  /* 세로 가운데 정렬 */
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.swiper-slide-prev,
.swiper-slide-next {
  filter: blur(2px);
}

.Bannernotempty .swiper-slide-prev:only-child,
.Bannernotempty .swiper-slide-next:only-child {
  filter: none;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.workingicon {
  font-size: 30px;
}

.swiper-button-prev {
  padding-left: 2px;
}


.BannerContent {
  margin-top: 20px;
  border-radius: 10px;
  font-size: 24px;
  color: #333;
  /* display: flex; */
  /* 넘치는 콘텐츠 숨김 */

  position: relative;
  /* 추가 */
}

.swiper-slide {
  width: 37rem;
  height: 42rem;
  position: relative;

  display: flex;
  /* 추가 */
  align-items: center;
  /* 추가 */
  justify-content: center;
  /* 추가 */
}

/* .slider-controler {
  position: relative;
  bottom: 12rem;
  display: flex;
} */

/* .slider-controler .swiper-button-next {
  left: 98% !important;
  transform: translateX(-58%) !important;
} */

/* .slider-controler .slider-arrow {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 2%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
} */

.slider-arrow {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 2%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  position: absolute;
  /* 변경 */
  top: 50%;
  /* 추가 */
  transform: translateY(-50%);
  /* 추가 */
}

.swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 20rem;
  margin-right: 10px;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

/* .BannerContent .contentdisplay_inline{
  display: inline-block;
  text-align: center;
} */

.contentdisplay_inline {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.BannerContent .content {
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 20px;
  width: 343px;
  height: 343px;
  background-color: #fff;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.BannerContent .content span {
  font-size: 13px;
  margin-top: 10px;
  color: #5f5f5f;
  float: right;
  padding-right: 20px;
}

.BannerContent .content .contentimgs {
  /* background-image: url("../../../../public/img/projectImg/project_img.jpg"); */
  background-size: cover;
  width: 280.24px;
  height: 179.51px;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  overflow: hidden;
  border-radius: 10px;
}

.contentprogress2 {
  position: absolute;
  transform: translate(310%, 100%);
}

.contentimgs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.BannerContent .content .contenttitle {
  text-align: left;
  margin-left: 30px;
  margin-top: 20px;
  font-size: 15px;
}

/* .BannerContent .content .contentsubtitle {
  text-align: left;
  margin-left: 30px;
  font-size: 13px;
  color: #5f5f5f;
} */

.BannerContent .content .contentdescription {
  text-align: left;
  margin-left: 30px;
  margin-top: 35px;
  font-size: 12px;
  color: #808080;
}

.BannerContent .content .contentmember {
  text-align: left;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 12px;
  color: #808080;
  line-height: 0.5;
}