.BannerApp {
  height: 550px;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 프로젝트가 하나도 없을 때 */
.emptycontent {
  margin-top: 30px;
  width: 343px;
  height: 343px;
  background-color: #fff;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.Bannerempty .emptycontent {
  padding-top: 30px;
  padding-left: 20px;
}

.Bannerempty .emptycontent .emptytitle {
  margin-left: 60px;
  font-size: 23px;
  color: #808080;
  line-height: normal;
  font-weight: 700;
}

.Bannerempty .emptycontent .emptytitle .emptytitlelineone {
  margin-left: 30px;
}

.Bannerempty .emptycontent .emptyimg {
  margin-left: 60px;
  background-image: url("../../../../public/img/projectImg/noproject_img1.png");
  background-size: cover;
  width: 177px;
  height: 150px;
  margin-top: 10px;
}

.Bannerempty .emptycontent .emptysubtitle {
  margin-top: 10px;
  margin-left: 30px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.25);
}

/* 프로젝트가 존재할 때 */
/* 배너 제목, 소제목 */
.Bannertxt {
  text-align: center;
  padding-top: 20px;
}

.Bannertxt .Bannertitle {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.Bannertxt .Bannersubtitle {
  margin-top: 5px;
  font-size: 15px;
  color: #fff;
}

/* 컨텐츠 */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.swiper-container {
  width: 100%;
  padding: 20px;
}

.swiper-slide {
  display: flex; /* flex 컨테이너로 설정 */
  justify-content: center; /* 가로 가운데 정렬 */
  align-items: center; /* 세로 가운데 정렬 */
}


.BannerContent{
  /* display: flex;
  gap:10px; */
  height: 300px;
  width: 800px;
  border-radius: 10px;
  font-size: 24px;
  color: #333;
}

/* .BannerContent .contentdisplay_inline{
  display: inline-block;
  text-align: center;
} */

.contentdisplay_inline {
  display: flex;
  justify-content: center;
  align-items: center;
}


.BannerContent .content {
  padding-left: 20px;
  margin-top: 10px;
  margin-right: 0px;
  width: 343px;
  height: 343px;
  background-color: #fff;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.BannerContent .content span {
  font-size: 13px;
  margin-top: 10px;
  color: #5f5f5f;
  float: right;
  padding-right: 20px;
}

.BannerContent .content .contentimgs {
  /* background-image: url("../../../../public/img/projectImg/project_img.jpg"); */
  background-size: cover;
  width: 280.24px;
  height: 179.51px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border-radius: 10px;
}

.contentprogress2{
  position: absolute;
  transform: translate(320%, 100%);
}

.contentimgs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.BannerContent .content .contenttitle {
  text-align: left;
  margin-left: 30px;
  margin-top: 20px;
  font-size: 15px;
}

/* .BannerContent .content .contentsubtitle {
  text-align: left;
  margin-left: 30px;
  font-size: 13px;
  color: #5f5f5f;
} */

.BannerContent .content .contentdescription {
  text-align: left;
  margin-left: 30px;
  margin-top: 35px;
  font-size: 12px;
  color: #808080;
}

.BannerContent .content .contentmember{
  text-align: left;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 12px;
  color: #808080;
  line-height: .5;
}
