.homecontainer{
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  margin-bottom: 100px
}

.homecontainer .homebanner{
  background-image: linear-gradient(#184ACE, #fff);
   width: 100%; 
 }

