.homecontainer{
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
}

.homecontainer .homebanner{
  background-image: linear-gradient(#184ACE, #fff);
   width: 100%; 
 }

 .homecontainer .bodysection{
  display: flex;
}

.homecontainer .bodysection .homeproject{
  width: 60%;
}

.homecontainer .bodysection .homecalendar{
  width: 40%;
}