
.OngoingProjApp .OngoingProjtitle {
  font-size: 20px;
  font-weight: 700;
  margin-left: 330px;
  margin-top: 40px;
}

.OngoingProjApp .OngoingProjsubtitle{
  font-size: 13px;
  color: #5f5f5f;
  margin-left: 330px;
}


.OngoingProjApp .OngoingProjContent{
  display: grid;
  grid-template-rows: 232px 232px ;
  grid-template-columns: 300px 300px 300px 300px;
  margin-left: 330px;
  gap:20px;
}


.OngoingProjContent .content{
  margin-top: 30px;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 1px 4px 8px 1px rgba(0,0,0,.2);
}

.OngoingProjContent .content span{
  font-size: 9px;
  color:#5f5f5f;
  float: right;
  padding-right: 20px;
}

.OngoingProjContent .content .contentprogress{
  margin-top: 10px;
}

.OngoingProjContent .content .progressicon{
  font-size: 9px;
  color:#FFD008;
  float: right;
  margin-left: 10px;
}

.OngoingProjContent .content .contentimg{
  width: 221px;
  height: 123px;
  margin-top: 12px;
}

.OngoingProjContent .content .contentimgs{
  background-image: url('../../../public/img/projectImg/project_img.jpg');
  background-size: cover;
  width: 250px;
  height: 123px;
  margin-top: 12px;
}


.OngoingProjContent .content .contenttitle{
  text-align: left;
  margin-top: 20px;
  font-size: 13px;
  margin-left: 5px;
}

.OngoingProjContent .content .contentsubtitle{
  text-align: left;
  margin-left: 5px;
  font-size: 9px;
  color: #808080;
}
