
.PortfolioApp .Portfoliotitle {
  font-size: 20px;
  font-weight: 700;
  margin-top: 50px;
}

.PortfolioApp .Portfoliosubtitle{
  font-size: 13px;
  color: #5f5f5f;
}


.PortfolioApp .Portfoliocontent{
  display: grid;
  grid-template-rows: 250px 250px ;
  grid-template-columns: 300px 300px 300px 300px;
  gap: 20px
}


.Portfoliocontent .content{
  margin-top: 30px;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 1px 4px 8px 1px rgba(0,0,0,.2);
}

.Portfoliocontent .content span{
  font-size: 9px;
  color:#5f5f5f;
  float: right;
  padding-right: 20px;
}

.Portfoliocontent .content .progressicon{
  font-size: 9px;
  color:#FFD008;
  float: right;
  margin-left: 10px;
}


.Portfoliocontent .content .contentimg{
  width: 221px;
  height: 123px;
}

.Portfoliocontent .content .contentimgs{
  background-image: url('../../../public/img/projectImg/project_img.jpg');
  background-size: cover;
  width: 260px;
  height: 123px;
  margin-top: 12px;

}

.Portfoliocontent .content .contenttitle{
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
}


.Portfoliocontent .content .contentdescription{
  text-align: center;
  margin-top: 10px;
  font-size: 9px;
  color: #808080;
}